<div class="panel panel-default">
  <div class="panel-heading" style="cursor: pointer" data-bind="click: toggleOpen">
    <span class="glyphicon glyphicon-menu-hamburger" style="cursor: pointer" title="show links"></span>
    <span class="panel-title">
      <span data-bind="text: title" style="cursor: pointer"></span>
      <span class="glyphicon glyphicon-remove camping-remove" title="remove camping" data-bind="click: remove"></span>
      <span class="link-count" title="link count" data-bind="text: links().length, css: { 'link-zero-count': isZeroLinks }"></span>
    </span>
  </div>
  <!-- ko if: opened -->
  <table class="table">
    <thead>
      <th width="40%">destination</th>
      <th width="30%">source</th>
      <th width="20%" class="text-right">total redirects</th>
      <th width="10%" class="text-right">actions</th>
    </thead>
    <tbody data-bind="foreach: links">
    <tr>
      <td><a data-bind="text: $data.to.substring(7), attr: { href: $data.to }" target="_blank"></a></td>
      <td><a data-bind="text: $data.source.substring(7), attr: { href: $data.source }" target="_blank"></a></td>
      <td class="text-right" data-bind="text: 0"></td>
      <td class="text-right">
        <span class="glyphicon glyphicon-remove camping-remove" title="remove camping" data-bind="click: $parent.removeLink.bind($parent)"></span>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="panel-footer">
    <campaigning-form params="props: getLinkFormProps()" />
  </div>
  <!-- /ko -->
</div>

