<div class="panel panel-default">
  <div class="panel-heading" style="cursor: pointer" data-bind="click: toggleOpen">
    <span class="glyphicon glyphicon-menu-hamburger" style="cursor: pointer" title="show links"></span>
    <span class="panel-title">
      <span data-bind="text: title" style="cursor: pointer"></span>
      <span class="glyphicon glyphicon-remove camping-remove" title="remove camping" data-bind="click: remove"></span>
      <span class="link-count" title="link count" data-bind="text: links().length, css: { 'link-zero-count': isZeroLinks }"></span>
    </span>
  </div>
  <!-- ko if: opened -->
  <table class="table">
    <thead>
      <th width="30%">destination</th>
      <th width="40%">source</th>
      <th width="20%" class="text-right">total redirects</th>
      <th width="10%" class="text-right">actions</th>
    </thead>
    <tbody data-bind="template: { foreach: links, name: 'camp-link' }" style="font-size: 16px">
    </tbody>
  </table>
  <div class="panel-footer">
    <campaigning-form params="props: getLinkFormProps()" />
  </div>
  <!-- /ko -->
</div>
<script type="text/html" id="camp-link">
  <tr>
    <td>
      <!-- ko ifnot: editable -->
      <a data-bind="text: getDestinationView(), attr: { href: getDestinationLink() }" target="_blank"></a>
      <!-- /ko -->
      <!-- ko if: editable -->
      <form data-bind="submit: save">
        <input data-bind="value: newDestination" class="form-control"/>
      </form>
      <!-- /ko -->
    </td>
    <td>
      <span data-bind="fadeVisible: !copied()">
      <span class="glyphicon glyphicon-copy camping-copy" title="copy link" data-bind="click: copy"></span>
      </span>

      <span data-bind="fadeVisible: copied()">
      <span class="glyphicon glyphicon-ok camping-copied" title="copied!"></span>
      </span>

      <a data-bind="text: getSourceView(), attr: { href: getSourceLink() }" target="_blank"></a>
    </td>
    <td class="text-right" data-bind="text: 0"></td>
    <td class="text-right">
      <span class="glyphicon glyphicon-remove camping-remove" title="remove camping" data-bind="click: remove"></span>
      <span class="glyphicon glyphicon-edit camping-remove" title="edit camping" data-bind="click: toggleEdit"></span>
    </td>
  </tr>
</script>
